*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #1b2c42;
    color: white;
    justify-content: space-between;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.title{
    background-color: #b57c03;
    color: white;
    padding: 5%;
    text-align: center;
}

#text{
    text-align: left;
    padding: 5%;
}

#info{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form{
    background-color: #1b2c42;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 2%;
}

.images{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
}

.footer{
    background-color: #1b2c42;
    text-align: center;
    color: white;
    padding: 1%;
}

.button{
    color: white;
    background-color: #b57c03;
}

.image{
    text-align: center;
    font-size: small;
    padding: 5%;
}